.b-minicart {
    left: 50%;
    position: fixed;
    top: 0;
}
.b-minicart__list {
    background: none repeat scroll 0 0 #ccffcc;
    border-radius: 5px;
    box-sizing: border-box;
    display: none;
    padding: 10px;
    width: 400px;
}
.b-minicart__button {
    background: none repeat scroll 0 0 lightgreen;
    border-radius: 0 0 5px 5px;
    display: inline-block;
    padding: 3px;
}
.b-order{
    display: none;
}
.b-minicart__total {
}
.b-minicart__quantity {
}
.b-goods {
	/* border: 1px solid red; */
}
.b-goods_cart {
}
.b-good {
}

.b-goods_cart .b-good:first-child {
    display: none;
}

.b-good__image-td {
}
.b-good__image {
}
.b-good__info {
}
.b-good__name {
}
.b-good__price {
}
.b-order-form {
}

.b-good_in-cart .b-order-form {
    background: none repeat scroll 0 0 lightgreen;
}
.b-order-form__quantity {
}
.b-order-form__plus {
}
.b-order-form__minus {
}
.b-order-form__order {
}
.b-good__delete-td {
}
.b-good__delete {
}
.b-good__delete-icon {
}
.b-good__description {
}

.b-textfield_error
{
    box-shadow:		0 0 2px red;
}

.b-form__message {
    border: 1px solid;
    border-radius: 3px;
    margin: 10px 0;
    padding: 10px;
    display: none;
}

.b-form__message_error {
    background: none repeat scroll 0 0 #FF0000;
    border-color: #E30000;
    color: #FFFFFF;
}
